:root {
  overflow: hidden;
  --full-height: 100vh;
  --full-width: 100vw;
  --left-width: 40vw;
  --right-width: 60vw;
}

@font-face {
  font-family: 'Trueno';
  src: url('./assets/TruenoLightItalic-OoMo.otf') format('opentype');
}

body {
  font-family: 'YourFontName', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.left-pane {
  height : var(--full-height);
  width : var(--left-width);
  background-image: url(./assets/leftBgImage.jpg);
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}       

.right-pane {
  height : var(--full-height);
  width : var(--right-width);
  
  background-color: #D4D7D6;
  
}

.left-pane-ribbon {
  background-color: black;
  
  position: relative;
  top: 10rem;
  opacity: 80%;
  
  height: 15vh;
  width: var(--left-width);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.catfe {
  margin: 0;
  padding: 0;
  top: 0;
  
  font-size: 6em;
  color: #D4D7D6;
}

.credits-text {
  position: relative;
  top: 80%;
  font-size: 1em;
  color: darkgray;
  text-decoration: none;
}

.credits-text > a {
  color: darkgray;
}

.form-pane {
  padding: 24px;
}

.main-title {
  font-size: 2.5em;
}

.singup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-inbetween;
  gap: 14px;
  
  border: 0;
  padding: 12px 0px 12px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

legend {
  font-size: 2em;
  padding: 0;
}

form > fieldset > div {
  display: flex;
  justify-content: flex-start;
  gap: 84px;
  padding-top: 12px;
}

label {
  font-size: 1em;
}


form > fieldset > div > div {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid gray;
  border-radius: 4px;

  height: clamp(14px,32px,48px);
  width: max(10em, 300px);
}

input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid #483E33;
  box-shadow: 0px 1px 0.2em rgba(0, 0, 0, 0.45);
}

.submit-pane {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  height: 4rem;
  width: 12rem;
  font-size: 1.5em;
  border-radius: 1em;

  background-color: #906F4A;

  position: relative;
  transition: transform 0.3s ease-in-out;
}